body {
  background-color: rgb(15, 15, 15);
}

.navBar {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  position: relative;
  bottom: 10px;
  right: 10px;
  width: 101.8%;
}

.navBar a {
  margin: auto 0;
  float: left;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 25px;
  font-family: "Fjalla One", sans-serif;
}

.navBar a:hover {
  background-color: rgb(250, 150, 40);
  color: black;
}

.navBar a.active {
  background-color: rgb(250, 150, 40);
  color: white;
}

#vid {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  padding-bottom: 10px;
}
iframe {
  border: 5px solid rgb(250, 150, 40);
}

.abtBar {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  text-align: center;
  position: relative;
  right: 10px;
  width: 99.8%;
  padding-left: 10px;
  padding-right: 10px;
}

/* Style the buttons that are used to open the tab content */
.abtBar button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.abtBar button:hover {
  background-color: #ddd;
  color: black;
}

/* Create an active/current tablink class */
.abtBar button.active {
  background-color: #ddd;
  color: black;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #ddd;
  font-family: "Fjalla One", sans-serif;
  text-align: center;
  position: relative;
  width: 97.4%;
  right: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.tablinks {
  color: white;
  font-family: "Fjalla One", sans-serif;
  font-size: 20px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 16em;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-weight: bold;
}

.abt {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

#pros,
#cons {
  text-align: left;
  font-size: 25px;
  font-weight: bold;
}

h7 {
  font-size: 15px;
  position: relative;
  top: 500px;
}
